/* Common */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.grey {
    color: #999999;
}
.white {
    color: white;
}
.text-center {
    text-align: center;
}
.bold {
    font-weight: bold;
}

/* My style */

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: black;
}

main {
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    overflow: hidden;
}

/* Navbar Laterale */

/* Navbar Top */

aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
    height: calc(100% - 90px);
    background-color: black;
}

.nav-top {
    width: 230px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
}

.main-logo > #big-logo {
   width: 60%;
}

.list-aside {
    list-style: none;
}

.list-aside li {
    height: 30px;
    line-height: 30px;
    padding: 10px 0;
}

.list-aside a {
   text-decoration: none;
   color: #999999;
   vertical-align: middle;
   font-size: 12px;
   font-weight: bold;
}

.list-aside a:hover {
    color: white;
}

.list-aside img {
    width: 12%;
    vertical-align: middle;
    opacity: 0.5;
}

.list-aside img:hover {
    opacity: 1;
}

.playlist {
    line-height: 30px;
    padding: 20px 0;
}

.playlist h3 {
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  font-weight: bolder;
  vertical-align: middle;
}

.playlist > a {
  text-decoration: none;
  color:#999999;
  vertical-align: middle;
}

.playlist > a:hover {
    color: white;
}

.playlist  #crea-play {
    font-size: 14px;
    font-weight: bold;
    color:#999999;
    vertical-align: middle;
}

.playlist  #crea-play:hover {
    color: white;
}

.playlist .fas {
    font-size: 40px;
    padding-right: 10px;
    vertical-align: middle;
}

.list-play {
    list-style: none;
}

.list-play li a {
   text-decoration: none;
   color:#999999;
   font-size: 12px;
   font-weight: bold;
}

.list-play li a:hover {
    color: white;
}

/* Navbar Bottom */

.nav-bottom {
    height: 40px;
    line-height: 40px;
    padding: 10px 10px;
}

.install {
    border-bottom: 1px solid #999999;
}

.nav-bottom a {
    text-decoration: none;
    color:#999999;
    font-size: 14px;
    font-weight: bold;
    line-height: 2;
    vertical-align: middle;
}

.nav-bottom a:hover {
   color: white;
}

#username {
    padding: 10px 0;
}

.nav-bottom .install img {
    height: 20px;
    margin-right: 10px;
    opacity: .5;
    vertical-align: middle;
}

.nav-bottom .username img {
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    opacity: .5;
    vertical-align: middle;
}

#my-name {
    color: white;
    font-size: 14px;
}

/* Sezione contenuti principale */

.main-content {
    padding-top: 90px;
}

section.main-content {
    width: calc(100% - 230px);
    height: calc(100% - 90px);
    margin-left: 230px;
    background-color:#151a22;
    overflow-y: auto;
}

.top-nav-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    line-height: 90px;
    margin-left: 230px;
    background-color: #090b13;
    opacity: .5;
    text-align: right;
    z-index: 10;
}

.top-nav-fixed a {
   color: white;
   font-size: 10px;
}

.btn {
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    vertical-align: middle;
    margin-right: 250px;
}
a.btn:hover {
    opacity: 1;
    padding: 15px 25px;
}

.top-menu ul {
    list-style: none;
}

.top-menu .main-nav li {
    padding: 10px 10px;
}

.top-menu .main-nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color:#999999;
}
.top-menu .main-nav a:hover {
    color: white;
}
.main-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Recently Played */

.recent-play {
    width: 100%;
}
.cover {
    width: calc(100%/6);
}
.main-cover {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img-cover {
    width: 100%;
    height: 100%;
    padding: 20px 10px;
}

.img-cover img {
    width: 100%;
    object-fit: cover;
}

/* Overlay */



.recent-play h2,
.create h2,
.popular h2 {
    color: white;
    font-weight: 600;
    font-size: 22px;
    padding: 10px 20px;
}

.cover h3 {
    font-size: 16px;
    padding: 10px 0;
}

.cover p {
   padding: 10px 0;
   font-size: 12px;
   font-weight: bolder;
}

/* Create for */

.create {
    width: 100%;
}

.create p,
.popular p {
    color: #999999;
    font-weight: 600;
    font-size: 14px;
    padding: 0px 20px;
}

/* Popular */

.popular {
    width: 100%;
}

.popular .img-cover img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}




/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #282828;
}

/* Footer left */

.footer-left {
    display: flex;
    justify-content: start;
    align-items: center;
}

.footer-cover {
    width: 20%;
    padding-left: 5px;
}

.footer-cover img {
    width: 100%;
}

.footer-title {
    width: 50%;
    padding-left: 10px;
}

.footer-title h5 {
    color: white;
}

.footer-title p {
    color: #999999;
    font-size: 12px;
}

.footer-icon {
    width: 30%;
}

.footer-icon .far {
   color: #999999;
   padding: 0 5px;
}

.footer-icon .far:hover {
    color: white;
}

.footer-left,
.footer-right {
    width: 230px;
    height: 100%;
}

/* Footer center */

.footer-center {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-center .fas {
    color: white;
    padding: 10px 20px;
}

.footer-center .far {
    color: white;
    font-size: 25px;
    padding: 10px 20px;
}

.player-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.player-box span {
    padding: 0 10px;
    font-size: 12px;
    font-weight: bolder;
    color: white;
}

.player-box .player {
    width: 60%;
    height: 3px;
    background-color:#999999;
    cursor: pointer;
}

.player-box .player .bar-player {
    width: 30%;
    height: 3px;
    background-color:white;
    border-radius: 20px;
}

.player-box .player:hover .bar-player {
    background-color:#adff2f;
}

.player-box .player .circle-bar {
    position: relative;
    left: 95px;
    bottom: 9px;
    width: 15px;
    height: 15px;
    background-color:white;
    border-radius: 50%;
    visibility: hidden;
}

.player-box .player:hover .circle-bar {
    visibility: visible;
}

/* Footer right */

.footer-right {
    display: flex;
    justify-content: start;
    align-items: center;
}

.footer-right .icon {
    width: 50%;
}

.footer-right .icon .fas {
   color: white;
   font-size: 12px;
   font-weight: bold;
   padding: 0 10px;
}

.footer-right .volume-bar {
    width: 50%;
    width: 50%;
    height: 3px;
    background-color:#999999;
    margin-right: 10px;
    cursor: pointer;
}

.footer-right .volume-bar .volume {
    width: 40%;
    height: 3px;
    background-color:white;
}

.footer-right .volume-bar .circle-vol {
    position: relative;
    left: 33px;
    bottom: 7px;
    width: 12px;
    height: 12px;
    background-color:white;
    border-radius: 50%;
    visibility: hidden;
}

.footer-right .volume-bar:hover .circle-vol {
    visibility: visible;
}

.footer-right .volume-bar:hover .volume {
    background-color: #adff2f;
}












/* Media Queries */

@media screen and (max-width: 767px) {

    .home-menu-xs,
    .main-logo-xs,
    .nav-bottom-xs {
        display: block;
    }

    .nav-bottom-xs,
    .install-xs,
    .username-xs {
        display: block;
    }

    aside {
        width: 50px;
    }

    .nav-top {
        width: 50px;
        padding: 10px 10px;
    }

    section.main-content {
        width: calc(100% - 50px);
        margin-left: 50px;
    }

    .main-logo-xs > #small-logo {
        height: 90%;
        padding-right: 5px;
    }

    .list-aside li {
        padding: 20px 0;
    }

    .list-aside img {
        width: 100%;
        vertical-align: middle;
        opacity: 0.5;
    }

    .home-menu,
    .main-logo,
    .playlist,
    .nav-bottom {
        display: none;
    }

    .top-nav-fixed {
        margin-left: 50px;
    }

    .btn {
        margin-right: 70px;
    }

    .nav-bottom-xs {
        display: block;
        height: 30px;
        line-height: 30px;
        padding: 10px 10px;
    }

    .nav-bottom-xs .install-sx img {
        height: 10px;
        vertical-align: middle;
    }

    .nav-bottom-xs .username-sx img {
        height: 15px;
        vertical-align: middle;
        padding-top: 5px;
        padding-left: 5px;
    }

    .footer-left,
    .footer-right {
        width: 25%;
    }

    .footer-center {
        width: 50%;
    }

    .footer-right .icon .fas {
        padding: 0;
    }

    .cover {
        width: calc(100% / 2);
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .home-menu-xs,
    .main-logo-xs,
    .nav-bottom-xs {
        display: none;
    }

    .nav-bottom-xs,
    .install-xs,
    .username-xs {
        display: none;
    }

    .cover {
        width: calc(100%/4);
    }


}

@media screen and (min-width: 990px) and (max-width: 1199px) {

    .home-menu-xs,
    .main-logo-xs,
    .nav-bottom-xs {
        display: none;
    }


    .nav-bottom-xs,
    .install-xs,
    .username-xs {
        display: none;
    }

}

@media screen and (min-width: 1198px) {

    .home-menu-xs,
    .main-logo-xs,
    .nav-bottom-xs {
        display: none;
    }


    .nav-bottom-xs,
    .install-xs,
    .username-xs {
        display: none;
    }

}